name: Publish Docker Image

on:
  pull_request:
    branches: [ main ]
  release:
    types: [published]

jobs:
  buildDockerImage:
    name: Push Docker image to Container Registry
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to Github Packages
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}
    - name: Build image and push to Docker Hub and GitHub Container Registry
      uses: docker/build-push-action@v2
      with:
        # relative path to the place where source code with Dockerfile is located
        context: ./src/samples/simple
        # Note: tags has to be all lower-case
        tags: |
          ghcr.io/etspaceman/graalvm-ce-base:${{ github.event.release.tag_name }}
        # build on feature branches, push only on main branch
        push: ${{ github.ref == 'refs/heads/main' }}